<section class="d-flex align-items-center" id="introduction" >
    <div >
      <div class="d-flex flex-column align-items-center animate__animated animate__zoomIn" style="animation-duration: 1s">
          <h3 class="hello-text animate__animated animate__slideInDown" style="animation-duration: 1.9s">Hello,</h3>
          <h1 class="display-4 animate__animated animate__slideInLeft" style="animation-duration: 1.9s">I'm Orifha Tshikotshi.</h1>
          <h2>A Software Engineer.</h2>
        <p class="m-0 animate__animated animate__slideInRight">
          Although, My mom thinks I can fix everything that is electronic.
        </p>
        <p class="animate__animated animate__slideInRight">
          So, I might just be an electrician as well 🤔
        </p>
        <div>
          <a href="#skills" id="about-button" type="button"  class="btn rounded-pill animate__animated animate__zoomIn" style="animation-delay: 1.2s">Contact me</a>
        </div>
      </div>
      <p></p>
    </div>
</section>
