<section class="d-flex flex-column justify-content-center align-items-center" id="experience">
  <h1 class="text-center mb-2">Experience</h1>
  <div class="wrapper">
    <div class="center-line">
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">Software Engineer.</span>
          <span>Present</span>
        </div>
        <p>I am currently a mobile Developer.</p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">contact me</a>
          <i>- at Integrove (Pty) LTD</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Intern Software Engineer.</span>
          <span>02/2021</span>
        </div>
        <p>Underwent some training and also worked closely with the team to develop mobile and web applications. <span style="opacity: 0;">Underwent some training</span></p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">contact me</a>
          <i>- at Integrove (Pty) LTD</i>
        </div>
      </section>
    </div>
    <!-- <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">Title of Section 3</span>
          <span>3rd Jan 2021</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">contact me</a>
          <i>- Someone famous</i>
        </div>
      </section>
    </div> -->

  </div>
</section>
