
  <header class="fixed-top">
    <app-navbar></app-navbar>
  </header>
  <main class="align-items-center">
    <app-introduction class="bg-image d-flex flex-column justify-content-center align-items-center "></app-introduction>
    <app-about class="max-width"></app-about>
    <hr>
    <app-experience></app-experience>
    <hr>
    <app-education class="max-width"></app-education>
    <hr>
    <app-skills class="max-width"></app-skills>
    <hr>
  </main>
  <footer >
    <app-contact></app-contact>
  </footer>



