<section class="d-flex flex-column justify-content-center align-items-center" id="education">
  <h1 class="text-center mb-2">Education</h1>
  <div class="wrapper">
    <div class="center-line">
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">Honours Computer Science and information technology</span>
          <span>12/2020</span>
        </div>
        <p class="mb-0">I completed my Honours in Computer Science and information technology.</p>
        <strong><em>Overall experience:</em></strong>
        <p class="mt-0"><em>I believe that this was the best time of my tertiary years. I had learned how to learn. I don't know if that makes sense but I had educated myself in how I can learn and solve complex problems. This led to me having a great and fun experience.</em></p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">Request documents</a>
          <i>- at North West University</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">BSc Information technology</span>
          <span>12/2019</span>
        </div>

        <p class="mb-0">Completed my BSc. degree in Information technology.</p>
        <strong><em>Overall experience:</em></strong>
        <p class="mt-0"><em>To be honest, this experience was up and down. I just had to adjust and push through. Even though that was the case, I enjoyed myself</em></p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">Request documents</a>
          <i>- at North West University</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">High school.</span>
          <span>12/2014</span>
        </div>
        <p class="mb-0">Completed high school.</p>
        <strong><em>Overall experience:</em></strong>
        <p class="mt-0"><em>I was not the best student in high school but I always worked hard.</em></p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#contact">Request documents</a>
          <i>- at West Ridge High School</i>
        </div>
      </section>
    </div>

  </div>
</section>
