<section class="d-flex flex-column justify-content-center align-items-center" id="education">
  <h1 class="text-center mb-2">Education</h1>
  <div class="wrapper">
    <div class="center-line">
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">Honours Computer Science and information technology</span>
          <span>12/2020</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#">Read more</a>
          <i>- at North West University</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">BSc Information technology</span>
          <span>12/2019</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#">Read more</a>
          <i>- at North West University</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">Title of Section 3</span>
          <span>12/2014</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a class="btn rounded-pill" href="#">Read more</a>
          <i>- at West Ridge High School</i>
        </div>
      </section>
    </div>

  </div>
</section>
